<div id="appMenuBtn" class="hidden-md hidden-sm hidden-xs">
    <a href="#apphostContent" class="btn btn-default btn-circle page-scroll"><img src="~/Resources/Images/portfolio/HeaderImages/yenYang.png" /></a>    
</div>
<section class="infoContainer no-padding hidden-md hidden-sm hidden-xs" id="apphostContent">
    <div class="container">
        <div class="container-fluid">
            <div class="wrapper">
                <div class="icon phone" onclick="window.open('pages/dev-tools/jsonEditor/jsoneditor.html')" data-toggle="tooltip" title="Build Parse and Play with the JSON Object">
                    <span class="appIconFont">JE</span>
                    <span class="appName">Json Editor</span>
                </div>
                <div class="icon reminders" onclick="window.open('https://phoenix.abhishekkumarmallick.com/')" data-toggle="tooltip" title="Build and Play with HTML CSS and JS">
                    <span class="appIcon"><img src="~/Resources/Images/AppIcons/Phoenix.png" /></span>
                    <span class="appName">Phoenix AI</span>
                </div>
            </div>
        </div>
    </div>
</section>

