<section class="infoContainer" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Blog: Let's share Knowledge</h2>
                <hr />
                <p>I encounter many old/new technologies during my projects. I would love to share few of my knowledge to you as it is brings more clarity and new ideas when shared.</p>
                <a href="https://abhishekmallickblog.wordpress.com/" class="page-scroll btn btn-default btn-xl sr-button">Let's Go!</a>
            </div>
        </div>
    </div>
</section>
