<div id="socialContent" class="hidden-md hidden-sm hidden-xs">
    <a href="https://www.facebook.com/abhinnovator/" class="btn btn-default btn-circle" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a href="https://twitter.com/abhi911kumar" class="btn btn-default btn-circle" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://in.linkedin.com/in/abhishek-mallick-613a6b21" class="btn btn-default btn-circle" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
    <a href="https://abhishekmallickblog.wordpress.com/" class="btn btn-default btn-circle" target="_blank"><i class="fa fa-wordpress fa-2x"></i></a>
    <a href="mailto:connect@abhishekkumarmallick.com" class="btn btn-default btn-circle"><i class="fa fa-envelope fa-2x"></i></a>
</div>
