extends layout

block content
    #overlay
    include modules/_Carousel.pug
    include modules/_SocialConnect.pug
    include modules/_LatestFeeds.pug
    include modules/_HeaderPage.pug
    include modules/_AboutPage.pug
    include modules/_SkillPage.pug
    include modules/_ExperiencePage.pug
    include modules/_EducationPage.pug
    include modules/_ProjectPage.pug
    include modules/_BlogPage.pug
    include modules/_ContactPage.pug
    include modules/_AppHost.pug