nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        |  Menu 
        i.fa.fa-bars
      a.navbar-brand.page-scroll.hidden-lg(href='#page-top') Abhishek
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden-md.hidden-sm.hidden-xs
          a.page-scroll(href='#home')
            i.fa.fa-home.fa-lg
        li
          a.page-scroll(href='#about') About
        li
          a.page-scroll(href='#skill') Skill
        li
          a.page-scroll(href='#experience') Experience
        li
          a.page-scroll(href='#education') Education
        li
          a.page-scroll(href='#project') Project
        li
          a.page-scroll(href='#blog') Blog
        li
          a.page-scroll(href='#contact') Contact