<section class="infoContainer no-padding" id="experience">
    <div class="container">
        <h2>@(DateTime.Now.Year - 2013) Years Experience</h2>
        <div class="timeline-container">
            <ul class="timeline timeline-horizontal text-center">
                <li class="timeline-item">
                    <div class="timeline-badge primary start"></div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge primary"></div>
                    <div class="timeline-year h5">2013 - Current</div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p>Pratian Technologies (India) Private Limited</p>
                        </div>                        
                    </div>
                </li>                
                <li class="timeline-item">
                    <div class="timeline-badge primary end"></div>
                </li>
            </ul>
        </div>
    </div>
</section>
