<header id="home">
    <div id="logoContent" class="hidden-md hidden-sm hidden-xs">
        <a href="#home" class="page-scroll"><img src="~/Resources/Images/portfolio/logoAbhishek.png" /></a>
    </div>
    <a class="page-scroll backhome hidden-md hidden-sm hidden-xs" href="#home"><i class="fa fa-times fa-2x"></i></a>
    <div class="header-content">
        @*<div class="col-lg-5 hidden-md hidden-sm hidden-xs hidden-print">
                <img class="rotationYenYang" src="~/Resources/Images/portfolio/HeaderImages/yenYang.png" style="height:500px;" alt="Abhishek Mallick Image" />
            </div>*@
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="header-content-inner">
                <h1 id="homeHeading">Full-Stack Designer</h1>
                <hr>
                <p>Hello, I’m Abhishek Mallick. I Have @(DateTime.Now.Year - 2013) years of experience in Web and UX design. I have worked and working on a variety of projects, applications and solutions and with complexity both big and small.</p>
                <a href="#contact" class="btn btn-default page-scroll">Contact Me</a>
                @*<a href="#" class="btn btn-primary page-scroll">Download CV</a>*@
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</header>
<div class="clearfix"></div>