<div class="col-lg-4 hidden-md hidden-sm hidden-xs" id="newsFeeds">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="postCount pull-right">Things I encounter &amp; wanted to share</span>
                    <button class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseNews" onclick="$('#newsFeeds').toggleClass('focusNews');overlayOn()">Blog Posts</button>
                    <button class="btn btn-danger btn-sm" data-toggle="collapse" href="#collapseNews" onclick="$('#newsFeeds').toggleClass('focusNews');overlayOff()"><i class="fa fa-times"></i></button>
                </h4>
            </div>
            <div id="collapseNews" class="panel-collapse collapse">
                <div id="newsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    @*<ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>*@

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">Apache Knox Setup and HDFS and Hive Accessing BigData</h3>
                                        <hr />
                                        <p>Apache Knox: The Apache Knox™ Gateway is an Application Gateway for interacting with the REST APIs and UIs of Apache Hadoop deployments. Setup Knox ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/07/20/apache-knox-setup-and-hdfs-and-hive-accessing-bigdata/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">Augmented Reality Project – Beginner</h3>
                                        <hr />
                                        <p>Definition: Augmented Reality is a technology which superimpose computer generated image over the user's vision of real world. Few Example: Google glass Microsoft Hololens Pokemon GO ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/06/17/augmented-reality-project-beginner/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">Solutions to Date-Time Issue between Server Clients at different Timezone</h3>
                                        <hr />
                                        <p>You can't control the clients timezone. You can only control your server side timezone. You can't force a your client ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/05/22/solutions-to-date-time-issue-between-server-clients-at-different-timezone/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">CSS – Cascading Style Sheets</h3>
                                        <hr />
                                        <p>Introduction Definition: CSS stands for Cascading Style Sheets. It is used to give the different stylings to the HTML to how it should look on a Different Size Screens, Printed Paper and all other ways ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/03/06/css-cascading-style-sheets/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">Swap Memory in Windows and Linux</h3>
                                        <hr />
                                        <p>Swap memory in Windows and Linux is a area on a hard disk used as the virtual memory extension of a computer's RAM (Random Access Memory). The files in the RAM ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/03/03/swap-memory-in-windows-and-linux/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">Speech Synthesis API: My Browser talks !</h3>
                                        <hr />
                                        <p>The Web Speech API adds to JavaScript: Voice recognition (speech to text) Speech synthesis (text to speech) Here we will talk about Speech synthesis (text to speech) ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/02/23/speech-synthesis-api-my-browser-talks-what-i-type/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">Create Areas in the MVC project</h3>
                                        <hr />
                                        <p>Introduction to Area Areas are logical grouping of Controller, Models and Views and other related folders for a module in MVC project. Steps to create ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/02/21/create-areas-in-the-mvc-project/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">ASP.NET MVC Web.config move AppSettings to separate file</h3>
                                        <hr />
                                        <p>Let’s get the appSettings inside the web.config file to a separate file for better maintenance of the code ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/02/16/asp-net-mvc-web-config-move-appsettings-to-separate-file/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">ASP.NET MVC Web.config move ConnectionStrings to separate file</h3>
                                        <hr />
                                        <p>Let's get the connectionStrings inside the web.config file to a separate file for better maintenance of the code ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/02/16/asp-net-mvc-web-config-get-connectionstring-of-database-to-separate-file/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container newsContent">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        <h3 class="section-heading">Layout Creation using Bootstrap Template & ASP.Net MVC</h3>
                                        <hr />
                                        <p>After doing lots of browsing and rejection you finally was able to freeze on a UI theme for the application. Now it's time to put this layout in a new asp.net mvc application ....</p>
                                        <a href="https://abhishekmallickblog.wordpress.com/2017/02/15/layout-creation-usin-bootstrap-template-asp-net-mvc/" class="btn btn-default btn-sm sr-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#newsCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#newsCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
