<appSettings>
  <!--Email Enable-->
  <add key="EnableMailFeature" value="true"/>  
  <!--Email Setup-->
  <add key="EmailFrom" value="connect@abhishekkumarmallick.com"/>
  <add key="EmailTo" value="###########"/>
  <add key="EmailSMTPPort" value="80"/>
  <add key="EmailSMTPHost" value="smtpout.secureserver.net"/>
  <add key="SSLEnable" value="false"/>
  <add key="UseDefaultCredentials" value="false"/>
  <add key="EmailUserName" value="connect@abhishekkumarmallick.com"/>
  <add key="EmailPassword" value="#########"/>
  <!--//Email Setup//-->
</appSettings>