section#about.infoContainer.no-padding
  .container
    .row      
      .col-lg-12.col-sm-12.col-xs-12
        h3 Abhishek Mallick
        h4 Web Apps, Architecture &amp; UI Design
        br
        p
          | I am a Senior Software Engineer- Healthcare IT, Architect and UI Designer currently living in India. My interests range from Business Analysis to Architecture Design to UI Design. I am also interested in UX Development, Software Development and Deployment Designs.
        hr
        .col-lg-6
          h4 Personal Details
          ul.list-unstyled.text-uppercase
            li.text-uppercase
              b Date Of Birth:
              |  30 April 1990
            li
              b Skype: 
              | abhi911kumar
            li
              b Email: 
              a(href='mailto:connect@abhishekkumarmallick.com') connect@abhishekkumarmallick.com
            li
              b Website: 
              a(href='http://www.abhishekkumarmallick.com') www.abhishekkumarmallick.com
        .col-lg-6
          h4 What I Do
          .row.text-center
            .col-lg-4.col-sm-4.col-xs-4
              .service-box
                i.fa.fa-4x.fa-globe.text-primary.sr-icons(data-sr-id='2', style='; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
                h5 Web Application
            .col-lg-4.col-sm-4.col-xs-4
              .service-box
                i.fa.fa-4x.fa-puzzle-piece.text-primary.sr-icons(data-sr-id='2', style='; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
                h5 Architecture
            .col-lg-4.col-sm-4.col-xs-4
              .service-box
                i.fa.fa-4x.fa-desktop.text-primary.sr-icons(data-sr-id='2', style='; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
                h5 User Interface
