#appMenuBtn.hidden-md.hidden-sm.hidden-xs
  a.btn.btn-default.btn-circle.page-scroll(href='#apphostContent')
    img(src='/Resources/Images/portfolio/HeaderImages/yenYang.png')
section#apphostContent.infoContainer.no-padding.hidden-md.hidden-sm.hidden-xs
  .container
    .container-fluid
      .wrapper
        .icon.phone(onclick="window.open('pages/dev-tools/jsonEditor/jsoneditor.html')", data-toggle='tooltip', title='Build Parse and Play with the JSON Object')
          span.appIconFont JE
          span.appName Json Editor
        .icon.reminders(onclick="window.open('https://phoenix.abhishekkumarmallick.com/')", data-toggle='tooltip', title='Build and Play with HTML CSS and JS')
          span.appIcon
            img(src='/Resources/Images/AppIcons/Phoenix.png')
          span.appName Phoenix AI
