section#blog.infoContainer
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading My Blog: Let&apos;s share Knowledge
        hr
        p
          | I encounter many old/new technologies during my projects. I would love to share few of my knowledge to you as it is brings more clarity and new ideas when shared.
        a.page-scroll.btn.btn-default.btn-xl.sr-button(href='https://abhishekmallickblog.wordpress.com/') Let&apos;s Go!
