#carouselContent.col-lg-2.hidden-md.hidden-sm.hidden-xs
  .dialogue-box
    .tdialogue-box-text
      | Skills Highlight
    .triangle-with-shadow
  #highlightCarousel.carousel.slide(data-ride='carousel')
    // Wrapper for slides
    .carousel-inner
      .item.active
        .col-lg-12
          .skill
            h5 HTML
      .item
        .col-lg-12
          .skill
            h5 Javascript
      .item
        .col-lg-12
          .skill
            h5 JQuery
      .item
        .col-lg-12
          .skill
            h5 AJAX
      .item
        .col-lg-12
          .skill
            h5 JSON
      .item
        .col-lg-12
          .skill
            h5 CSS
      .item
        .col-lg-12
          .skill
            h5 C#
      .item
        .col-lg-12
          .skill
            h5 Ruby
      .item
        .col-lg-12
          .skill
            h5 Java
      .item
        .col-lg-12
          .skill
            h5 MS SQL
      .item
        .col-lg-12
          .skill
            h5 MY SQL
      .item
        .col-lg-12
          .skill
            h5 MongoDB
      .item
        .col-lg-12
          .skill
            h5 ASP.NET MVC
      .item
        .col-lg-12
          .skill
            h5 Rails
      .item
        .col-lg-12
          .skill
            h5 J2EE
      .item
        .col-lg-12
          .skill
            h5 AngularJS
      .item
        .col-lg-12
          .skill
            h5 Bootstrap
      .item
        .col-lg-12
          .skill
            h5 WordPress
      .item
        .col-lg-12
          .skill
            h5 IIS
      .item
        .col-lg-12
          .skill
            h5 Tomcat
      .item
        .col-lg-12
          .skill
            h5 Phusion Passenger
      .item
        .col-lg-12
          .skill
            h5 TFS
      .item
        .col-lg-12
          .skill
            h5 SVN
      .item
        .col-lg-12
          .skill
            h5 API.AI
      .item
        .col-lg-12
          .skill
            h5 WebRTC
      .item
        .col-lg-12
          .skill
            h5 Redis
      .item
        .col-lg-12
          .skill
            h5 Photoshop
    // Left and right controls
    a.left.carousel-control(href='#highlightCarousel', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.carousel-control(href='#highlightCarousel', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
      span.sr-only Next
