section#education.infoContainer.no-padding
  .container
    h2 Education Qualification
    .timeline-container
      ul.timeline.timeline-horizontal.text-center
        li.timeline-item
          .timeline-badge.primary.start
        li.timeline-item
          .timeline-badge.primary
          .timeline-year.h5 2008
          .timeline-panel
            .timeline-body
              p Central Board of Secondary Education
            hr
            .timeline-heading
              h4.timeline-title 12th / PUC
        li.timeline-item
          .timeline-badge.primary
          .timeline-year.h5 2012
          .timeline-panel
            .timeline-body
              p Visvesvaraya Technological University
            hr
            .timeline-heading
              h4.timeline-title Computer Science, B.E
        li.timeline-item
          .timeline-badge.primary.end
