section#experience.infoContainer.no-padding
  .container
    h2 #{moment(Date.now()).format('YYYY')-2013} Years Experience
    .timeline-container
      ul.timeline.timeline-horizontal.text-center
        li.timeline-item
          .timeline-badge.primary.start
        li.timeline-item
          .timeline-badge.primary
          .timeline-year.h5 2013 - 2020
          .timeline-panel
            .timeline-body
              p Pratian Technologies (India) Private Limited
        li.timeline-item
          .timeline-badge.primary
          .timeline-year.h5 2020 - Current
          .timeline-panel
            .timeline-body
              p GormalOne LLP
        li.timeline-item
          .timeline-badge.primary.end
