header#home
  #logoContent.hidden-md.hidden-sm.hidden-xs
    a.page-scroll(href='#home')
      img(src='/Resources/Images/portfolio/logoAbhishek.png')
  a.page-scroll.backhome.hidden-md.hidden-sm.hidden-xs(href='#home')
    i.fa.fa-times.fa-2x
  .header-content
    .col-lg-12.col-sm-12.col-xs-12
      .header-content-inner
        h1#homeHeading Full-Stack
        hr
        p
          | Hello, I&rsquo;m Abhishek Mallick. I Have #{moment(Date.now()).format('YYYY')-2013} years of experience in Web and UX design. I have worked and working on a variety of projects, applications and solutions and with complexity both big and small.
        a.btn.btn-default.page-scroll(href='#contact') Contact Me
    .clearfix
.clearfix
