section#project.infoContainer
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading My Projects
        hr
        .col-lg-12
          p
            | Most of my Projects are Official. Please contact me if you really want to know about my projects.
          a.page-scroll.btn.btn-default.btn-xl.sr-button(href='#contact', data-sr-id='6') Contact Me
        .clearfix
        hr
        .clearfix
        .col-lg-12
          p Some projects I created for you all as Open Projects.
          a.page-scroll.btn.btn-primary.btn-xl.sr-button(href='http://applive.abhishekkumarmallick.com/', data-sr-id='6') Go to Open Projects
