section#skill.infoContainer.no-padding
  .container
    h4 Technical Skills
    .row
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.frontend
        .skillheader
          h5 Front-End
        .watermarkicon.text-center
          i.fa.fa-tv.fa-5x
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 HTML
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Javascript
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 JQuery
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 AJAX
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 JSON
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 CSS
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.backend
        .skillheader
          h5 Back-End
        .watermarkicon.text-center
          i.fa.fa-code.fa-5x
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 C#
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Ruby
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Java
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.database
        .skillheader
          h5 Database
        .watermarkicon.text-center
          i.fa.fa-database.fa-5x
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 MS SQL
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 MY SQL
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Mongodb
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.frontend
        .skillheader
          h5 Web Framework
        .watermarkicon.text-center
          i.fa.fa-cubes.fa-5x
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 ASP.NET MVC
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Rails
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 J2EE
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 AngularJS
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Bootstrap
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.backend
        .skillheader
          h5 CMS
        .watermarkicon.text-center
          i.fa.fa-object-group.fa-5x
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 WordPress
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.database
        .skillheader
          h5 Web Server
        .watermarkicon.text-center
          i.fa.fa-server.fa-5x
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 IIS
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Tomcat
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Phusion Passenger
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.frontend
        .skillheader
          h5 Source Code Management Software 
        .watermarkicon.text-center
          i.fa.fa-code-fork.fa-5x
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 TFS
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 SVN
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.backend
        .skillheader
          h5 Operating System
        .watermarkicon.text-center
          span.plaintext OS
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 MS Windows
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Linux
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Mac OSX
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.backend
        .skillheader
          h5 Some Famous Protocols/APIs
        .watermarkicon.text-center
          span.plaintext API
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 API.AI
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 WebRTC
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.database
        .skillheader
          h5 Also Have Knowledge of
        .watermarkicon.text-center
          i.fa.fa-lightbulb-o.fa-5x
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Redis
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Photoshop
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Windows Phone
    .clearfix
    hr
    .clearfix
    h4 Language Skills
    .row
      .col-lg-4.col-sm-6.col-xs-12.skillcontent.language
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 English
        .col-lg-4.col-sm-4.col-xs-4
          .skill
            h5 Hindi
