#socialContent.hidden-md.hidden-sm.hidden-xs
  a.btn.btn-default.btn-circle(href='https://www.facebook.com/abhinnovator/', target='_blank')
    i.fa.fa-facebook.fa-2x
  a.btn.btn-default.btn-circle(href='https://twitter.com/abhi911kumar', target='_blank')
    i.fa.fa-twitter.fa-2x
  a.btn.btn-default.btn-circle(href='https://www.linkedin.com/in/abhishek-m-613a6b21', target='_blank')
    i.fa.fa-linkedin.fa-2x
  a.btn.btn-default.btn-circle(href='https://abhishekmallickblog.wordpress.com/', target='_blank')
    i.fa.fa-wordpress.fa-2x
  a.btn.btn-default.btn-circle(href='mailto:connect@abhishekkumarmallick.com')
    i.fa.fa-envelope.fa-2x
